.leftPanel
{
    position: relative;
    padding: 8em 8em;
}

.canvas
{
    position: fixed;
    display: flex;
    max-width: 500rem;
    max-height: 92%;
    margin-inline:  auto;
    padding :0;
    overflow: hidden;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;

}

.bgElement
{
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url("../res/img/random-checkerboard.png");
    background-size: cover;

}



.pos1
{
    transform: translate(800px, 5em) rotate(-230deg);;
}

.pos2
{
    transform: translate(1220px, 10em) rotate(20deg);
}

.pos3
{
    transform: translate(820px, 30em) rotate(240deg);;
}

.leftPanel .title
{
    font-family: "Lemon-Milk-Medium"; 
    font-size: 36pt;
    color: #1b3145;
}

.leftPanel .subtitle
{
    font-family: "Lemon-Milk-Light"; 
    font-size: 24pt;
}

.leftPanel .aboutBtn
{
    display: flex;
    padding: 1em 1em;
    border: #1b3145 1px solid;
    border-radius: 5em;
    width:10.5em;
    text-align: center;
    font-family: "Lemon-Milk-Medium"; 
    font-size: 9.5pt;
    background-color: #4574a0; 
    color: whitesmoke;
    position: relative;
}

.leftPanel .aboutBtn a
{
  all:unset;
}

.leftPanel .aboutBtn .imgIcon
{
    position: absolute;
    width: 3em;
    height: 3em;
    background-image: url("../res/img/ventiChibiPngCloseMouth.png");
    background-size: cover;
    right: .5em;
    bottom: .5em;
}



.leftPanel .aboutBtn:hover, .leftPanel .imgIcon:hover
{
 
    background-image: url("../res/img/ventiChibiPngOpenMouth.png");
    cursor: pointer;
    background-color: rgb(218, 75, 204);
    border-radius: 5em;
  
}

.leftPanel .socials 
{
    padding: 1em .1em;
   
}

.leftPanel .socials ul
{
    all: unset;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.leftPanel .socials li
{
    width: 2em;
    height: 2em;
    border: #1b3145 1px solid;
    border-radius: 5em;
    margin-left: .5em;
}

.leftPanel .socials .fa
{
    padding: .5em;
    background-color: transparent;
}

.leftPanel .socials li:hover, .socials .fa:hover
{
   background-color:  rgb(218, 75, 204);
   border-radius: 5em;
   color: whitesmoke;
}

.rightPanel
{
    padding: 8em 8em;
}

.rightPanel .imgPlaceholder
{
    position: relative;
}

.rightPanel .imgPlaceholder img
{
    width: 420px;
    height: 420px;
    border-radius: 20em;
}


.imgPlaceholder .orbits
{

  border-radius: 50%;
  width: 600px;
  height: 600px;
  position: absolute;
  top: -5em;
  right: -5em;
  animation: orbit 5s linear infinite;
  

}

.imgPlaceholder .circle
{
    width: 400px;
    height: 400px;
    background-color: transparent;
    border-radius: 1em;
    z-index: 1;
}

.imgPlaceholder .orbitCircle
{
   top: 0%;
   left : 62.5%;
   position: relative;
   background-image: url("../res/img/ventiChibiPngOpenMouth.png");
   background-size: contain;
   animation: rotation 3s infinite linear;
}

@keyframes rotation
{
    from {
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      to {
        transform: rotate(359deg) scale(0.2, 0.2);
      }
}

@keyframes orbit 
{
   
    100% {
        transform: rotate(360deg);
      }
      
}

@media screen and (min-width: 280px)
{
    .canvas
    {
        overflow-y: scroll;
    }
    .leftPanel
    {
        position: relative;
        padding: 2em 2em;
    }

    .pos1
    {
        transform: translate(-7em, -8em) rotate(-72deg);;
    }

    .pos2
    {
        transform: translate(18em, 30em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(20em, 0em) rotate(240deg);;
    }

    .rightPanel .imgPlaceholder
    {
        display: none;
    }


}
@media screen and (min-width: 720px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 500rem;
        max-height: 92%;
        margin-inline:  auto;
        padding :0;
        overflow: hidden;
 

    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }
    .rightPanel
    {
        padding: 6em 6em;
        overflow: hidden;
    }

    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
      
    }

    .rightPanel .imgPlaceholder img
    {
        width: 320px;
        height: 320px;
        border-radius: 20em;
        transform: translate(-5em, 5em);
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 550px;
        height: 550px;
        position: absolute;
        top: -2em;
        right: -12em;
        animation: orbit 5s linear infinite;
        

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
    top: 0%
    left : 62.5%;
    position: relative;
    background-image: url("../res/img/ventiChibiPngOpenMouth.png");
    background-size: contain;
    animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(35em, 10em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(25em, 25em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(18em, 10em) rotate(240deg);;
    }
}

@media screen and (min-width: 884px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 500rem;
        max-height: 92%;
        margin-inline:  auto;
        padding :0;
        overflow: hidden;
 

    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }
    .rightPanel
    {
        padding: 6em 6em;
        overflow: hidden;
    }

    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
      
    }

    .rightPanel .imgPlaceholder img
    {
        width: 320px;
        height: 320px;
        border-radius: 20em;
        transform: translate(-5em, 5em);
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 550px;
        height: 550px;
        position: absolute;
        top: -2em;
        right: -12em;
        animation: orbit 5s linear infinite;
        

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
    top: 0%;
    left : 62.5%;
    position: relative;
    background-image: url("../res/img/ventiChibiPngOpenMouth.png");
    background-size: contain;
    animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(40em, 10em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(30em, 22em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(25em, 10em) rotate(240deg);;
    }
}

@media screen and (min-width: 1024px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-inline:  auto;
        padding :0;
        overflow: hidden;


    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }

    .leftPanel
    {
        position: relative;
        padding: 1em 1em;
    }
  
    .rightPanel
    {
       width: 50%;
       height: 100%;
    }
    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
        width: 100%;
        right: -3em;
        top:-5em;
    }

    .rightPanel .imgPlaceholder img
    {
        width: 320px;
        height: 320px;
        border-radius: 20em;
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 600px;
        height: 600px;
        position: absolute;
        top: -2em;
        left: -10em;
        animation: orbit 5s linear infinite;

    

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
        top: 0%;
        left : 24rem;
        position: relative;
        background-image: url("../res/img/ventiChibiPngOpenMouth.png");
        background-size: contain;
        animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(35em, 5em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(42em, 18em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(55em, 5em) rotate(240deg);;
    }
}

@media screen and (min-width: 1280px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-inline:  auto;
        padding :0;
        overflow: hidden;
        justify-content: center;


    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }

  
    .rightPanel
    {
       width: 50%;
       height: 100%;
    }
    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
        width: 100%;
        right: -8em;
    }

    .rightPanel .imgPlaceholder img
    {
        width: 420px;
        height: 420px;
        border-radius: 20em;
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 600px;
        height: 600px;
        position: absolute;
        top: -2em;
        left: -10em;
        animation: orbit 5s linear infinite;

    

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
        top: 0%;
        left : 24rem;
        position: relative;
        background-image: url("../res/img/ventiChibiPngOpenMouth.png");
        background-size: contain;
        animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(7em, 5em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(30em, 10em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(20em, 25em) rotate(240deg);;
    }
}

@media screen and (min-width: 1920px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-inline: auto;
        padding :0;
        overflow: hidden;
        justify-content: center;


    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }

  
    .rightPanel
    {
       width: 50%;
       height: 100%;
    }
    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
        width: 100%;
        right: -8em;
    }

    .rightPanel .imgPlaceholder img
    {
        width: 420px;
        height: 420px;
        border-radius: 20em;
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 600px;
        height: 600px;
        position: absolute;
        top: -2em;
        left: -10em;
        animation: orbit 5s linear infinite;

    

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
        top: 0%;
        left : 24rem;
        position: relative;
        background-image: url("../res/img/ventiChibiPngOpenMouth.png");
        background-size: contain;
        animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(1em, 5em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(25em, 10em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(12em, 25em) rotate(240deg);;
    }
}

@media screen and (min-width: 2440px)
{
    .canvas
    {
        position: fixed;
        display: flex;
        max-width: 100%;
        height: 100%;
        margin-inline: auto;
        padding :0;
        overflow: hidden;
        justify-content: center;


    }

    .bgElement
    {
        position: absolute;
        width: 200px;
        height: 200px;
        background-image: url("../res/img/random-checkerboard.png");
        background-size: cover;

    }

  
    .rightPanel
    {
       width: 50%;
       height: 100%;
       justify-content: center;
    }
    .rightPanel .imgPlaceholder
    {
        position: relative;
        display: block;
        width: 100%;
        right: -25em;
        justify-content: center;
    }

    .rightPanel .imgPlaceholder img
    {
        width: 420px;
        height: 420px;
        border-radius: 20em;
    }


    .imgPlaceholder .orbits
    {

        border-radius: 50%;
        width: 600px;
        height: 600px;
        position: absolute;
        top: -2em;
        left: -10em;
        animation: orbit 5s linear infinite;

    

    }

    .imgPlaceholder .circle
    {
        width: 400px;
        height: 400px;
        background-color: transparent;
        border-radius: 1em;
        z-index: 1;
    }

    .imgPlaceholder .orbitCircle
    {
        top: 0%;
        left : 24rem;
        position: relative;
        background-image: url("../res/img/ventiChibiPngOpenMouth.png");
        background-size: contain;
        animation: rotation 3s infinite linear;
    }


    .pos1
    {
        transform: translate(1em, 5em) rotate(-230deg);;
    }

    .pos2
    {
        transform: translate(25em, 10em) rotate(20deg);
    }

    .pos3
    {
        transform: translate(12em, 25em) rotate(240deg);;
    }
}






