

@font-face {
    font-family: 'catcafe-medium';
    src: url(../res/font/catcafe.medium.ttf);
}
@font-face {font-family: "Lemon-Milk-Medium"; 
            src:url(../res/font/LEMONMILK-Medium.otf);
 }

 @font-face {font-family: "Lemon-Milk-Regular"; 
    src:url(../res/font/LEMONMILK-Regular.otf);
}

@font-face {font-family: "Lemon-Milk-Light"; 
    src:url(../res/font/LEMONMILK-Light.otf);
}

:root
{
    --bgColor: 	#567795;
    --fgColor: #ffffff;
    --lineColor: #c9c1de;
    --dateBgColor: #b08096;
    --fontSize: 14pt;
    --titleSize: 3vw;
    --scale: 0.95;
    --catCafe: 'catcafe-medium';
}

*, *::before, *::after
{
    box-sizing: border-box;

}

.body
{
    margin: auto;
    align-content: center;
    
}

.red
{
    color: #c43e3e;
}

header
{
    display: flex;
    padding: 1em 1em;
    width: auto;
    position: relative;
    border-bottom: 1px solid var(--bgColor);
    color: #1b3145;
}
.titlePlaceholder
{
    font-family: "Lemon-Milk-Medium"; 
}

.nav a
{
    all: unset;
}

.nav ul
{
    
    all:unset;
    position: absolute;
    right: 15em;
    display:flex;
    list-style-type: none;
    font-family: "Lemon-Milk-Regular";
    color: #1b3145;
  
}

.nav li
{
    margin-left: 5em;
    
}


.active
{
    border-bottom: black 4px solid;
}

.canvas
{
    position: relative;
}

.icon
{
    display: none;
}

@media screen and (orientation: portrait), (max-width: 960px){
    .nav ul{
      display: none;
    }

  .icon{
    position: absolute;
    display: block;
    padding: .2em .2em;
    color:#1b3145;
    right:1em;
  }
}

